.nav {
  background-color: white;
  box-shadow: 0px 10px 13px -15px #000000, 0px 20px 15px 5px rgba(0, 0, 0, 0);
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(50%, 2);
  align-items: center;
}

.logo {
  grid-column: 1/1;
  justify-self: left;
  width: 50%;
  margin: 3%;
}

.search {
  grid-column: 2/2;
  justify-self: right;
  margin: 3%;
}

.search-form {
  display: flex;
  align-items: center;
}

.searchbar {
  width: 15rem;
  padding: 5px 0px;
  background-color: #e0e0e0;
  border: none;
  color: #5e5e5e;
  text-align: center;
}

.search-icon {
  font-size: 1.7rem;
  color: black;
  margin-left: 0.2rem;
}

.search-icon:hover {
  color: #e1484b;
  cursor: pointer;
}

/* /////////// */
/* breakpoints */
/* /////////// */

/* 376px */

@media screen and (max-width: 376px) {
  .logo {
    width: 70%;
  }

  .searchbar {
    width: 9rem;
    font-size: 0.7rem;
  }

  .search-icon {
    font-size: 1.3rem;
  }
}
