.subreddits {
  width: 30vw;
  min-width: fit-content;
  max-height: max-content;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(225, 72, 75, 0);
  box-shadow: 0px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(225, 72, 75, 0);
  margin: 5px auto 25px 1%;
}

.subreddits-heading {
  font-size: 1.4rem;
  color: black;
  text-align: center;
  padding-top: 10px;
  margin: 0px;
}

.subreddits-list {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 10px;
}

.subreddit-img {
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 100px;
  height: 35px;
  width: 35px;
}

.subreddit-name {
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}

.subreddit-name:hover {
  color: #e1484b;
}

@media only screen and (max-width: 415px) {
  .subreddits {
    display: none;
  }
}
