.card {
  padding: 10px;
  margin-bottom: 2%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(225, 72, 75, 0);
  box-shadow: 0px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(225, 72, 75, 0);
  hyphens: auto;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin: 0px;
  margin-bottom: 1%;
}

.image {
  max-width: 60%;
  display: block;
  margin: 0 auto 5px auto;
}

.content {
  width: 98%;
  margin: 0 auto 5px auto;
  overflow-wrap: break-word;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.footer {
  display: grid;
  grid-template-columns: repeat(25%, 4);
}

.author,
.subreddit-posted {
  margin: 0px;
  font-size: 0.8rem;
  color: #e1484b;
  text-align: center;
}

.author {
  grid-column: 1 / 1;
  justify-self: left;
}

.author span,
.subreddit-posted span {
  color: #6e6e6e;
}

.comments-button {
  grid-column: 3 / 3;
  justify-self: center;
  margin: 0px;
  font-size: 0.7rem;
  color: #e1484b;
  font-weight: bold;
  border: none;
  background: none;
}

.comments-button:hover,
.original-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button-text {
  margin: 0px;
}

.original-link {
  grid-column: 2 / 2;
  justify-self: center;
  margin: 0px;
  font-size: 0.8rem;
  color: #e1484b;
  text-decoration: none;
  font-weight: bold;
}

.upvotes {
  grid-column: 4 / 4;
  justify-self: right;
  margin: 0px;
  font-size: 0.8rem;
  color: #e1484b;
}

/* /////////// */
/* breakpoints */
/* /////////// */

/* 668px */

@media only screen and (max-width: 668px) {
  .title {
    font-size: 0.9rem;
  }

  .content {
    font-size: 0.8rem;
    margin-bottom: 2%;
  }
}

/* 376px */

@media only screen and (max-width: 376px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(33%, 3);
  }

  .author,
  .original-link {
    font-size: 0.7rem;
  }

  .comments-button {
    font-size: 0.65rem;
    grid-column: 3 / 3;
    justify-self: right;
  }

  .upvotes {
    display: none;
  }
}
